body{
    font-family: 'Work Sans',sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.flex_start{
    justify-content: start;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}


.logo img{
    margin-right: 15px;
    position: relative;
    animation-name: round;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
  }
  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}
.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}


.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}
.header_link:hover{
    font-weight: bold;
}
.header_ul{
    margin-right: 75px;
}

.header_li{
    margin-right: 30px;
}

.check{
    width: 30px;
    height: 3px;
    background-color: black;
}
.check{
    transition: 300ms;
}

.check:not(:last-of-type){
    margin-bottom: 4px
}

.checkbox, .check-wrapper{
    display:none;
}
@media screen and (max-width:1200px){
    .checkbox, .check-wrapper{
        display:block;
    } 
    .header_nav{
        display: none;
    }
    .header_ul{
        flex-direction: column;
    }
    .header_li{
        margin-left: 80px;
        margin-bottom: 20px;
    }
}
.menu{
    position: relative;
}
.checkbox{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0;
    top: 0;
    right: 0;
    z-index: 2;
}
.check-wrapper{
    position: relative;
    z-index: 1;
}
.checkbox:checked ~ .check-wrapper > .check:first-of-type{
    transform: rotate(45deg) translate(13px, 8px); 
}
.checkbox:checked ~ .check-wrapper > .check:nth-of-type(2) {
   opacity: 0; 
}
.checkbox:checked ~ .check-wrapper > .check:last-of-type{
    transform: rotate(-45deg) translate(2px, 3px); 
}

.checkbox:checked ~ .header_nav{
    display: block;
    position: fixed;
    background-color: #F3C6BD;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-top: 20px;
}




.button{
    width: 160px;
    height: 48px;
    border: none;
    background:  #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;
}
.button:hover{
    background: #FFFFFF;
    transition-duration: 500ms;
    transition-property: background;
    transform: rotate(10deg);
    color:#2B292D;
    transition-timing-function: linear;
}

.button_white{
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    background:  #FFFFFF;
    font-weight: 700;
}

.button_white:hover{
    background:  #3040C4;
    cursor: pointer;
    transition-duration: 500ms;
    transition-property: background;
    transform: rotate(10deg);
    color: #FFFFFF;
    transition-timing-function:cubic-bezier(.17,.67,.83,.67);
}




.main{
    background-color: #F3C6BD;
    position: relative;
    padding-bottom: 126px;
}
.main_container > div:first-of-type{
    z-index: 1;
}
.main_container > div:last-of-type{
    z-index: 0;
    position: absolute;
    right: 25px;
}
.main_title{
    font-size: 80px;
    font-weight: bold;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 754px;
    margin-bottom: 34px;
}
.main_text{
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 456px;
    margin-bottom: 54px;
}

.info_pretitle-green{
    color:green;   
}


.information{
    background-color: #F2F2F2;
    padding: 57px 0 58px;
}
.question_first{
    margin-right: 30px;
}
.information_title{    
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}
.information_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;  
    color: #2B292D;
}
.customers_logo{
    margin-top: 57px;
    text-align: center;
    margin-bottom: 40px;
}



.features{
    margin-bottom: 150px;
    margin-top: 100px;
    position: relative;
}
.features_title{
    display: inline;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #2B292D;
}
.features_title:hover{
    cursor: pointer;
    transition-duration: 500ms;
    transition-property: background;
    transform: rotate(10deg);
    color: blue;
 }
    
.features_item{
    max-width: 450px;
    box-sizing: border-box;
    padding: 26px 25px ;
    margin: 0 auto 3px ;
    border: 0.5px solid gray;
    border-style: none none double none ;
}
.features_text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    margin-top: 3px;
    max-width: 457px;
}
.features_container > div:first-child{
    z-index: 1;
}
.features_container > div:last-child{
     z-index: 0;
     position: absolute;
     right: 0px; 
     top: 20px;
}

.acquire{
    position: relative;
}
.acquire_container > div:first-child{
    z-index: 1;
   }
   .acquire_container > div:last-child{
    z-index: 0;
    right: 40px;
   }

.inbox{
    background:rgba(252, 240, 227, .4);
    padding: 117px 0 116px;
}
.info_pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
}
.info_pretitle-orange{
    color: #F1592B;   
}
.info_pretitle-blue{
    color: #0189D1;
}

.info_title{
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    color: #2B292D;
    letter-spacing: -0.5px;
    max-width: 462px;
    margin-bottom: 26px;
}
.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background: white;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}
.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 26px;
}
.inbox_text-bold{
    font-weight: bold;
}
.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}
.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}
.inbox_img{
    margin-right: 11px;}

.container-image{
    position: relative;
    animation-name: pulsing;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;}

  @keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }


.excert{
    padding: 117px 0 116px;
}


.link-excert{ 
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #3040C4;
}
.inbox_text-bold{
    font-weight: 700;
}
.excert_text{
    margin-right: 10px;
}






.about-items{
    max-width: 750px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 26px 25px;
    border: 2px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
}

.button_about{
    width:247px;
    height:48px;
    border: none;
    background:  #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;
    margin:  28px auto 50px 440px;
}

.button_about:hover{
    background: #FFFFFF;
    transition-duration: 500ms;
    transition-property: background;
    transform: rotate(10deg);
    color:#2B292D;
    transition-timing-function: linear;
}
.about-item{
    font-size: 18px;
    line-height: 24px;
    color: #2B292D;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.about-text{
    margin-top: 3px;
    max-width: 410px;
    font-size: 18px;
    line-height: 26px;
    display: none;
}


.about-pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}



.about-rotate-icon{
    transform: rotate(90deg);
    transition: 300ms;
}

.change-color{
    color: white;
    background-color: #3141C5;
    border: 2px solid #3141C5;
    transition: 300ms;
}




.surfaces{
    margin-top: 50px;
}
.surfaces_title{
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
    padding: 55px 0 22px;  
}
.surfaces_text{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #172342;
    text-align: center;
    padding: 22px 0 58px;
}
.surfaces_photo{
    margin: 0;
    padding: 0;
}
.grid_surface{
    display: grid;
    gap: 49px 41px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 30px;
   
}
.item:nth-child(3), .item:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
}
.item{
    width: 100%;
    height: 100%;
}

.audience{
    background: rgb(0, 161, 198, 0.20);
    padding-top: 108px;
    padding-bottom: 100px;
}
.audience_subtitle{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    padding-top: 24px;
}
.audience_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    color: #2B292D;
    padding-top: 30px;
}
.audience_text{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    padding-top: 30px;
}
.audience_buttons{
    text-align: center;
    padding-top: 30px;
    padding: 30px 0 60px;
}

.audience_subtitle-blue{
    color: #3142C6;
}
.carusel_text{
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
}
.trust_container{
    position: relative;
}
.trust_container > div:first-of-type{
    z-index: 1;
}
.trust_container > last:first-of-type{
    z-index: 0;
    position: absolute;
    right: 0px;
}


.card {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 10%;
    padding-top: 22px;
    margin-left: 40px;
    height: 300px;
}
.card:hover {
    background: #757eca;
    cursor: pointer;
    transition: 1s;
}

.card:hover{
    box-shadow: 5px 5px 0px 0px  #8e93c8, 10px 10px 0px 0px #a3a9e0, 15px 15px 0px 0px  #9da6f3, 
    20px 20px 0px 0px #aeb1d9, 25px 25px 0px 0px #dddfef, 5px 5px 15px 5px rgba(0,0,0,0); 
}



.audience_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    }

.audience_cards_text{
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: #2B292D;
    margin-top: 20px;
}

.audience_cards_text:hover{
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;
}


.free_trial{
    background-color: #F4F5F7;
    padding-top: 50px;
    margin-top: 91px;
}
.trial_title{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    font-weight: bold;
    color: #2B292D;
    margin-bottom: 12px;
    margin-top: 106px;
}
.trial_text{
    max-width: 555px;
    color: #2B292D;
    margin-bottom: 44px;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 26px;
}

.input_free_trial{
    height: 48px;
    width: 385px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    padding-left: 26px;
    margin-bottom: 12px;
}

.input_free_trial::placeholder{
    font-size: 20px;
    line-height: 20px;
    color: #2B292D;}

.input_free_trial:focus{
    outline: none;
}

.trial_checkbox{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 100px;
}

.fake{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 25%;
    display: inline-block;
    position: relative;
}

.checkbox{
    opacity: 0;
}

.fake::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3040C4 ;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
.checkbox:checked ~ .fake::before{
    opacity: 1;
    transition: 1s;
}


.trust{
    position: relative;
    margin-top: 50px;
}
.trust_container{
    justify-content: center;
}
.trust_container > div:first-of-type {
    z-index: 0;
}
.trust_container > div:last-of-type {
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 0;
    }

.carusel{
    position: fixed;
}
.footer{
    margin-top: 60px;
    margin-bottom: 100px;
}
.footer_info{
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    margin: 26px auto 26px;
    width: 360px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer_nav{
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    color: rgba(43, 41, 45, 0.6);
    font-weight: 400;
}
.footer_line{
   background-image: url(/img/footer_img/Line.png);
   width: 100vw;
   height: 2px;
}
.footer_item{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin: 50px 20px 50px 20px;
}
.footer_follow_item{
    width: 25px;
}


.footer_flex{
    display: flex;
    text-align: right;
}

.modal-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 99;
}
.modal{
    max-width: 550px;
    text-align: center;
    background-color: white;
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-overlay_get_start{
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}
.modal_start{
    text-align: center;
    max-width: 700px;
    background-color: white;
    padding: 30px 50px;
    box-sizing: border-box;
    border-radius: 30px;
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%,);
}
.close{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

#up{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    bottom: 100px;
    right: 50px;
    background-color: #aeb1d9;
    border-radius: 50%;
    color: white;
    cursor:pointer;
}
#up span{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: rotate(-90deg) translate(100%, -35%);;
   
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 1040px;
    }
    .header_ul{
        margin-right: 50px;}

    .info_title_features{
        font-size: 48px;
    }
    .info_text_features{
        font-size: 20px;
    }
    .trust_img{
        width: 200px;
    }
    .button_about{
        margin-left: 400px;
    }

        
}

@media screen and (max-width: 1090px) {
    .container{
        max-width: 750px;
    }
    .logo_text{
        display: none;
    }
    .header_nav{
        display: none;
    }
    .main_container{
        flex-direction: column;
    }
    .main_container > div:last-of-type{
        z-index: 0;
        position: static;
        right: 25px;
    }

    .button_white{
        width: 190px;
    }

    .button_about{
        margin-left: 100px;
    }


    .information{
        text-align: start;
        padding: 30px 288px ;
    }
    .question_second{
        margin-bottom: 30px;
    }
    .customers_logo_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 235px;
    }
    
    
    .features_container{
        flex-direction: column;
        text-align: center;}
        
    .features_container > div:last-child {
        z-index: 0;
        position: static;
        right: 25px;
    }

    
   

    .flex__inbox-colomn{
        flex-direction:column-reverse;
        
    }
    .inbox{
        padding: 56px 0 69px;
    }
    .info{
        text-align: center;
    }
    .info_title{
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
    }
    .info_text{
        max-width: 429px;
        margin: 0 auto 41px;
        font-size: 20px;
        line-height: 26px;
    }
    .inbox_response{
        margin: 0 auto 75px;
        text-align: start;
    }

    .flex__cmmunication-colomn{
        flex-direction: column;
    }
    .info{
        margin-top: 30px;
    }
    .info_title{
        font-size: 48px;
        max-width: 318px;
    }
    .container-image{
        margin-top: 20px ;
    }
    .excert_text_hours, .excert_text_communication{
        display: none;
    }
    .excert_text_subscriptions{
        max-width: 322px;
        margin: 0 auto 41px;
        text-align: center;
    }

    .trial_info_title, .trial_info_text{
        text-align: center;
    }
    .trial_title{
        max-width: 325px;
        font-size: 48px;
        line-height: 0px;
    }
    .trial_text, .form_trial, .trial_checkbox{
        text-align: center;
    }
    
    .input_free_trial, .button{
        width: 190px;
        margin-bottom: 20px;
    }

    .grid_surface{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 29px 45px;
    }
    .item:nth-child(7){
        display: none;
    }
    .item:nth-child(3){
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .item:nth-child(4){
        grid-row: 2/4;
    }
    .item:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .grid_cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 38px 57px;
    }
    .card{
        width: 262px ;
    }
    .trust_text{
        text-align: center;
    }
   
    .trust_container{
        flex-direction: column;
        text-align: center;}
        
    .trust_container > div:last-child {
        z-index: 0;
        position: static;
        right: 25px;
    }
   


    .flex__footer-colomn{
        flex-direction: column;
    }
    .footer_logo_noflex{
        display: inline;
       text-align: center;
    }
    .footer_logo{
        margin-left: 100px;
        margin-bottom: 32px;
    }
    .logo_text_footer{
        display: contents;
    }
    .footer_info{
        display: none;
    }
    .footer_img{
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .footer_nav{
        font-size: 20px;
        line-height: 30px;
        font-size: 18px;
    }
    .footer_navigation_second_block{
        margin-top: 25px;
        margin-right: 50px;
        margin-bottom: 0px;
    }
    .footer_line {
       display: none;
    }
    .footer_flex{
        display: flex;
    }
    .socialmedia{
        flex-direction: column;
    }
    .footer_item{
        margin: 10px 20px 10px 10px;
    }
    .footer_flex{
        display: flex;
    }
}
    
@media screen and (max-width: 800px){
    .container{
        max-width: 500px;
    }
    .header{
        padding: 25px 0;
    }
    .main_img{
        width: 500px;
    }
    .information{
        margin: 0;
        padding: 0;
    }
    .button, .button_white, .button_about, .button_trial{
        width: 290px;
    }
   
    .inbox{
        padding: 40px 0;
    }
    .inbox_response{
        margin-bottom: 50px;
    }
    .customers_logo_grid{
        margin-left: 180px;
    }
    .surfaces_photo{
       text-align: center;
    }
    

    .trial_info_title{
        text-align: center;
        margin-top: 30px;
    }
    .grid_cards{
       justify-content: center;
    }
    .grid_surface{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7,1fr);
        gap: 17px;
    }
    .item:nth-child(2){
        display: none;
    }
    .item:nth-child(4){
        grid-row: 2/4;
    }
    .item:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/6;
    }

   

}

@media screen and (max-width: 550px){
    .container{
        max-width: 430px;
    }
    .info_title{
        font-size: 36px;
        line-height: 48px;
    }
    .info_pretitle{
        margin-bottom: 20px;
    }
  
    .customers_logo_grid{
        margin: 30px 90px 30px 90px;
       gap: 20px;
    }
    .features{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .features_img{
        width: 290px;
        height: 240px;
        margin-top: 30px;
    }
   
    .surfaces_title, .surfaces_text{
    margin: 0;
    }
    .card {
        max-width: 150px;
        width:  100%;
        height: 270px;
     }
    .grid_cards{
        gap: 10px 30px;
     }

    .free_trial_checkbox{
        text-align: center;
    }
    .button_about{
        margin-left: 15px;
    }
    .audience_cards_text{
        font-size: 15px;
    }
    .button_trial{
        width: 300px;
    }
    .fake{
        display: none;
    }
    .footer{
        margin-top: 10px;
    }
    .footer_border{
        box-sizing: border-box;
        border-bottom: solid 1px #E3E3E3;
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .modal_start {
        position: absolute;
        top: 25%;
        left: 15%;
}
}
@media screen and (max-width: 480px){
    .container{
        max-width: 310px;
    }
    .container-image_img{
        width: 100%;
    }
    .information{
        padding: 0;
     }
    .question_first, .question_second{
         margin: 46px 15px 20px 15px
     }
    .flex__inbox-colomn{
        flex-direction: column;
    }
    .main_img{
        width: 380px;
        height: 280px;
        margin-top: 50px;
    }
    .customers_logo_grid { 
        margin: 10px 60px 20px 60px;
        gap: 10px;
    }
    .features_container{
        text-align: left;
        margin-left: 70px;
    }
    .features_image{
        display: none;
    }
    .features_items{
        text-align: left;
        margin: 0px;
    }

    .information{
        margin-top: 15px;
    }
    .info_pretitle-blue{
        margin-top: 15px;
    }
    .trial_info_title , .trial_info_text{
        text-align: start;
        margin-left: 5px;
    }
    .input_free_trial{
        width: 275px;
    }

    .surfaces_title, .surfaces_text{
        margin-left: 20px;
    }
    .grid_cards{
        margin-left: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        gap: 17px;
    }
    .card:nth-child(1){
        grid-row: 1/4;
        grid-column: 1/1;
    }
    .card:nth-child(2){
        grid-row: 2/4;
        grid-column: 1/1;
    }
    .card:nth-child(3){
        grid-row: 3/4;
        grid-column: 1/1;
    }
    .card:nth-child(4){
        grid-row: 4/4;
        grid-column: 1/1;
    }
    .modal_start {
        position: absolute;
        top: 25%;
        left: 5%;
}
}

@media screen and (max-width: 360px){
    .container{
         max-width: 300px ;
    }
    .header{
        background-color: #FFFFFF;
        padding: 8px 0;
    }
    .main_title{
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        margin: 15px 35px 15px auto;
        }
    .main_text{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 35px;
        }
    .main{
        padding-bottom: 36px;
    }
    .question_first, .question_second{
        margin: 46px 15px 20px 15px
    }
    .flex__inbox-colomn{
        flex-direction: column;
    }
    .customers_logo{
        margin: 0;
        padding: 0;
    }
    .customers_logo-colmn{
         width: 80px;
         margin-left: 0px;
    }
    .features_item {
        padding: 0px 0px;
    }
    .info{
        text-align: start;
    }
    .audience {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .card {
        max-width: 290px;
        width:  100%;
        height: 300px;
        margin: 0;
        padding: 0;
    }
    .audience_cards_text{
        font-size: 22px;
    }

    .audience_subtitle{
        text-align: start;
        margin: 0 15px 0 15px;;
    }
    .trust_text {
        text-align: start;
        margin: 0 15px 0 15px;}
    .grid_surface{
        margin: 0;
    }
    .modal_start {
        max-width: 396px;
        padding: 10px 20px;
        left: 5%;
}
}
     
    
@media screen and (max-width: 320px) {
    .container{
        max-width: 290px;
    }
    .customers_logo-colmn{
        width: 60px;
        margin-left: 0px;}
    
    .inbox{
        padding: 50px 0 48px;
    }
   
    
    .inbox_response{
        padding: 30px 20px;
    }
    .features_container {
        text-align: left;
        margin-left: 15px;}
    
    .audience_subtitle {
        text-align: center;}
    
    .audience_title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;}

    .audience_text{
        font-size: 24px;
        line-height: 34px;
        }
    .trust_img{
        width: 290px;
        height: 258px;
    }
    .grid_cards {
        margin-left: 0px;}
    .input_free_trial{
        width: 260px;
    }
    .about_items{
        margin-left: 15px;
    }
    .button_about{
        width: 270px;
    }
    .grid_surface{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7,1fr);
        gap: 10px;
    }
    .item:nth-child(2){
        display: none;
    }
    .item:nth-child(4){
        grid-row: 2/4;
    }
    .item:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/6;
    }

    .excert_noflex{
        display: inline;
    }
    
    .excert_text_subscriptions{
        display: inline;
        text-align: start;
    }
    .excert_text_hours{
        display: inline;
    }
    .excert_text_communication{
        display: inline;
    }

    .modal_start {
        left: 0;
    }   
}
